<%= render "header" %>
<div class="masthead text-white text-center mt-4">
  <div class="container">
    <div class="row w-100">
      <div class="col-lg-5 mx-auto">
        <div class="auto-form-wrapper">
          <%= image_tag "sun-logo.png", alt: "logo", class: "flogo" %>
          <h4 class="text-center text-uppercase mb-5"><%= Settings.logo.txt %></h4>
          <div class="form-group">
            <%= link_to t(".sign_in"), new_user_session_path, class: "btn btn-primary btn-block text-uppercase mr-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
