body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

div.masthead {
  position: relative;
  background-color: $gray-lighter;
  background: url("airport_background.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

div.masthead .overlay {
  position: absolute;
  background-color: $black;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

div.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  div.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  div.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.brand-image {
  opacity: 0.8;
}

.auto-form-wrapper {
  padding: 40px 40px 10px;
  background-color: white;
  box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
  border-radius: 4px;
  color: black;
}

.flogo {
  display: block;
  margin: 0 auto 1em;
  width: 30%;
}
