// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#form-request {
  padding: 1.88rem 1.81rem;
}

.row-form {
  padding-bottom: 1.5rem;
}

#add_request_details_row {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.header {
  margin-bottom: 20px;
}

.request-row {
  border-bottom: $table-border 1px solid;
  margin: 0 18px;
  padding: 12px 0;
  cursor: pointer;
}

.request-row:hover {
  background-color: $table-border;
}

#card-body-request {
  padding: 2.4rem 4rem;
}

#card-header-request {
  padding: 2rem 1.8rem;
}

#card-title-request {
  font-size: 27px;
}
