input, textarea, select, .uneditable-input {
  border: 1px solid $gray-100;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}
