$black-lighter: #333;
$blue-lighter: #00aeef;
$gray-100: #bbb;
$state-danger-text: #a94442;
$gray-lighter: #343a40;
$black:  #212529;
$gray-200: #777;
$btn-fb: #3b5998;
$form-label: #495057;
$card-signin: rgba(0, 0, 0, 0.1);
