<div class="modal fade" id="cancelConfirmModal" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t ".confirm_cancel" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t ".close_btn" %></button>
        <%= link_to request_path(status_canceled: status_canceled), remote: true, method: :patch, class: "btn btn-primary mr-2 float-right" do %>
          <%= t ".confirm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
