.my-require {
  position: relative;

  &::after {
    color: red;
    position: absolute;
    top: 0px;
    right: -10px;
    content: '*'
  }
}

.field_with_errors{
  width: 100%;
}

.font-weight-bold{
  font-weight: bolder;
}

.table {
  table-layout: fixed;
}
